html {
  scroll-behavior: smooth;
}

/* ページトップへ戻るボタン */
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 4px #757575;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #757575;
  border-right: 3px solid #757575;
  transform: translateY(20%) rotate(-45deg);
}

/* ページ全体に関わるスタイル */
body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px;
  position: relative;
}

.moji {
  margin: 0 20px;
}

/* ヘッダー */
header {
  color: white;
  background-color: #bf783a;
  text-align: center;
  border-radius: 0 0 50px 50px;
  padding: 5px;
  /* background-color: rgb(63, 76, 176); */
}

/* メニュー、目次 */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*中央揃えに変更*/
  margin: 2rem 0rem;
  gap: 15px; /* 間隔を追加 */
}

nav div {
  background-color: #bf783a;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 10px;
  box-sizing: border-box;
  width: 150px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s; /* スムーズな反転効果のために追加 */
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: color 0.3s; /* スムーズな反転効果のために追加 */
}

/* ホバー時に背景色と文字色を反転させる */
nav div:hover {
  background-color: white;
  border: solid 3px;
  border-color: #bf783a;
}

nav div:hover a {
  color: #bf783a;
}

/* JavaScriptとPythonの比較_メニューボタン */
.compare nav div:hover {
  background-color: white;
  border: solid 3px;
  border-color: #bf783a;
}

.compare nav div {
  background-color: #bf783a;
}

/* 各メニューのタイトル */
.title {
  /* background-color: rgb(86, 158, 186); */
  background-color: rgb(87, 99, 186);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 25px 25px 0 0;
  /* display: inline-block; inline-blockに設定して幅を自動調整 */
  /* width: auto; 幅を自動調整 */
}

/* ワークショップの流れ */
.step {
  /* background-color: rgb(227, 227, 227); */
  border: solid 5px;
  border-color: rgb(87, 99, 186);
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  margin: 20 auto;
}

.step_title {
  background-color: rgb(87, 99, 186);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 10px;
  /* background-color: rgb(86, 158, 186); */
}

.step h3 {
  text-align: center;
  font-size: 24px;
  color: rgb(87, 99, 186);
  font-weight: bold;
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
}

.title_p {
  text-align: center;
  color: #bf783a;
  font-weight: bold;
}

.step p:first-child {
  margin-top: 0;
}

.center {
  text-align: center;
}

/* 詳細と日程 */
.schedule {
  padding: 20px;
  border: solid 5px;
  border-color: #bf783a;
  border-radius: 25px;
  margin-bottom: 30px;
  /* background-color: rgb(227, 227, 227); */
}

.schedule h3 {
  text-align: center;
  font-size: 22px;
  color: #bf783a;
  font-weight: bold;
}

/* p5.jsについて */
.about {
  padding: 20px;
  border: solid 5px;
  border-color: rgb(87, 99, 186);
  border-radius: 25px;
  margin-bottom: 30px;
}

.about h3 {
  color: rgb(87, 99, 186);
  font-size: 22px;
  font-weight: bold;
}

.font_p {
  margin-top: 0;
}

/* 綺麗に改行するためのもの */
.p_indent {
  text-indent: -3em;
  padding-left: 3em;
}

/* ヘッダー部分のタイトル改行 */
.newline {
  display: inline-block;
}

h3 {
  text-align: center;
}

.font_space {
  line-height: 2;
}

/* 見出しにマーカー付ける */
.marker {
  background: linear-gradient(transparent 45%, #fcf69f 45%);
  /* background-color: #fcf69f; */
  /* font-size: 20px; */
  font-weight: bold;
}

/* オレンジボタンの長いver */
.long_ver {
  width: 500px;
  margin: auto;
}

/* その他の情報 部分 */
.step_title2 {
  background-color: rgb(86, 158, 186);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 10px;
  /* background-color: rgb(86, 158, 186); */
}

footer {
  position: relative;
  width: 100%;
}

.foot {
  text-align: right;
}

/* フッター部分の波模様 */
.wave {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 129px;
}

.wave .shape-fill {
  fill: #bf783a;
}

/* 端末サイズに応じたレイアウトの変更 */
@media (min-width: 1000px) {
  nav {
    justify-content: flex-start; /* 固定幅なので中央揃え解除 */
  }
  nav div {
    flex: 0 0 auto; /* 固定幅でフレックスボックスの影響を受けないようにする */
  }
}

@media (max-width: 999px) and (min-width: 600px) {
  nav {
    justify-content: center; /* 画面サイズに応じて中央揃えに戻す */
  }
  nav div {
    flex: 0 0 calc(33.33% - 15px); /* 横3 */
  }

  nav .long_ver {
    width: 800px;
    margin: auto;
    font-size: 16px; /* フォントサイズを小さくする */
  }

  nav .long_ver a {
    white-space: nowrap; /* 改行を防ぐ */
  }
}

@media (max-width: 599px) {
  nav div {
    flex: 0 0 calc(50% - 15px); /* 横2 */
  }

  nav .long_ver {
    width: 700px;
    margin: auto;
    font-size: 14px;
  }

  nav .long_ver a {
    white-space: nowrap; /* 改行を防ぐ */
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  h3 span {
    display: block;
  }

  .break-point::after {
    content: "";
    display: block;
  }

  .schedule h3 {
    font-size: 16px;
  }

  .about h3 {
    font-size: 16px;
  }

  .font_p {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .marker {
    font-size: 14px;
  }

  .step_title2 {
    font-size: 14px;
  }
}
