h2 {
  margin-left: auto;
  margin-right: auto;
}

.frame {
  border: solid 5px rgb(87, 99, 186);
  padding: 20px;
  margin: 20px auto;
}

.frame h3 {
  margin-top: 0;
  color: rgb(87, 99, 186);
}

.frame p {
  word-break: normal;
  margin: 0 auto 1em;
}

.frame p:last-of-type {
  margin-bottom: 0;
}

.red {
  border-color: #bf783a;
  border-radius: 20px;
}

.red h3 {
  color: #bf783a;
}

.explain {
  padding: 0 20px;
}

code {
  display: block;
  background-color: whitesmoke;
  padding: 1em;
  margin: 1em 0;
}

.frame ol {
  padding-left: 1em;
}

.frame ol li {
  margin: 1em 0;
}

.frame ul {
  padding-left: 1em;
}

.frame ul li {
  margin: 1em 0;
}

.sample-gif {
  width: 100%;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sample-gif .gif-param {
  width: 50%;
  text-align: center;
}

.sample-gif img {
  max-width: 240px;
  width: 95%;
}

.text {
  line-height: 2;
  margin: 1em;
  padding: 1em;
  text-align: left;
  display: inline-block;
  background-color: ivory;
}

@media (max-width: 414px) {
  .sample-gif > .gif {
    margin: 1em auto;
  }

  h2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .sample-gif {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
}
