code {
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  display: block;
  background-color: whitesmoke;
  padding: 1ex 1em;
  line-height: 1.8;
}

#top_message {
  border: solid 2px gray;
  padding: 1em;
  margin: 3em 1em;
  font-weight: bold;
}

h2 {
  margin-top: 3em;
}

h3 {
  color: white;
  font-size: 1.25em;
  background-color: #bf783a;
  border-radius: 0 1.5em 1.5em 0;
  padding: 0.2em 1em;
  width: 50%;
  text-align: left;
  font-weight: normal;
}

p {
  word-break: normal;
  line-height: 1.8;
}

pre {
  white-space: pre-wrap;
  padding: 0;
}

details {
  border: solid 1px gray;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
}

details p {
  margin: 1ex;
  line-height: 1.5;
}

@media (max-width: 414px) {
  code {
    font-size: 0.75em;
  }

  h3 {
    font-size: 1em;
  }
}
